/* Mobile first  */
/* Header section */

#hamburger_id {
  width: 48px;
}

.navigations_list {
  display: none;
}

.header {
  text-align: center;
}

.header_warper {
  margin: auto;
  margin: 5%;
}

/* Hero section */
.hero_section {
  margin: 5%;
  text-align: center;
}

.image_primary {
  width: 100%;
}

h1 {
  margin-top: 4%;
  font-size: 8vw;
}

.paragraph_primary {
  margin-top: 4%;
  font-size: 6vw;
  color: #7d7987;
}

.btn_primary {
  margin-top: 4%;
  font-size: 4vw;
  width: 40%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 3%;
  padding-bottom: 3%;
  border: none;
  border-radius: 20px;
  background-color: #458ff6;
  color: #ffffff;
}

/* Service section */

.service_section_top {
  margin: 5%;
  text-align: center;
}

.service_section {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 7vw;
}

hr {
  width: 20%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid black;
  background-color: black;
  border-radius: 0.5px;
}

.paragraph_secondary {
  font-size: 5vw;
  color: #7d7987;
}

.service_section_down {
  margin: 5%;
  background: url(../images/service_bg.svg) no-repeat;
  background-size: cover;
}

.services {
  background-color: #ffffff;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 15px 24px 0px;
  padding: 5%;
  margin-top: 8%;
}

h3 {
  font-size: 6vw;
}

.paragraph_tertiary {
  font-size: 4vw;
  color: #7d7987;
  margin-bottom: 5%;
  padding: 5%;
}

.service_icons {
  width: 15%;
}

.btn_container {
  text-align: center;
}

.btn_secondary {
  border: 1.5px solid #4992f6;
  background-color: #ffffff;
  color: #458ff6;
  margin-top: 4%;
  font-weight: bold;
  font-size: 4vw;
  width: 40%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 20px;
  margin-bottom: 10%;
}

.btn_secondary:active {
  background-color: #4992f6;
  color: white;
  box-shadow: #4991f64f 2px 2px 2px 2px;
}

/* Healthcare section */

.healthcare_section {
  margin: 5%;
  text-align: center;
}

.download_section {
  margin: 5%;
  text-align: center;
}

.symbol {
  width: 10%;
}

/* Testimonials section */

.testimonials_section {
  margin: 5%;
  text-align: center;
}

.testimonials_container {
  background-image: linear-gradient(to top right, #5a98f2, #67c3f3);
  color: #ffffff;
  border-radius: 20px;
}

.testimonials_container p {
  color: white;
}

.testimonial_heading {
  padding-top: 5%;
}

.white_hr {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 1px;
}

.a_person {
  width: 30%;
  border-radius: 50%;
  border: 2px solid white;
}

blockquote {
  padding: 5%;
  font-size: 5.5vw;
}

.btn_container {
  margin-top: 5%;
}

.left_arrow {
  width: 5%;
  margin-top: 1%;
  margin-right: 5%;
  padding-top: 1%;
  border: 0px;
  background-color: white;
}
.right_arrow {
  width: 5%;
  margin-top: 1%;
  margin-left: 5%;
  padding-top: 1%;
  border: 0px;
  background-color: white;
}

.left_arrow img,
.right_arrow img {
  width: 100%;
}

.radio {
  border: 0px;
  background: white;
  margin-left: 2%;
  width: 2%;
}

.radio img {
  width: 100%;
  padding-bottom: 50%;
}

/* Article section */

.article_section {
  margin: 5%;
  text-align: center;
  background: url(../images/article_bg.svg) no-repeat;
  background-size: cover;
}

.article {
  border-radius: 20px;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 15px 24px 0px;
  padding-bottom: 5%;
  margin-bottom: 5%;
  background-color: white;
}

.article_image_container {
  width: 100%;
}

.article_image_container img {
  width: 100%;
}

h5 {
  font-size: 5vw;
  margin-top: 5%;
  margin-bottom: 5%;
}

.article_anchor {
  color: #4089ed;
  font-size: 5vw;
}

.article_anchor:active {
  font-weight: bold;
}

.article_anchor img {
  width: 5%;
}

#herbal_medicine_img_id {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Footer */

footer {
  background-image: linear-gradient(to top right, #5a98f2, #67c3f3);
  color: white;
  text-align: left;
  padding: 5%;
}

h6 {
  font-size: 4vw;
}

.right_section_warper {
  width: 45%;
}

.right_section_warper {
  width: 45%;
}

#footer_logo {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  border: 0px;
  background-color: white;
  font-size: 26px;
  font-weight: bold;
  color: #5b9bf3;
}

#footer_logo_text {
  width: 60%;
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 5px;
  display: inline;
}

#footer_p_id {
  color: white;
  padding: 0%;
  margin-top: 5%;
}

li {
  font-size: 4vw;
}

h6 {
  font-size: 5vw;
  margin-bottom: 5%;
  margin-top: 7%;
}

#copyright_id {
  font-weight: normal;
  font-size: 4vw;
  margin-bottom: 0px;
}
